<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530716569623-jt2sdfr1t7iq8td942m53l1rdsqrr97h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530716569623-jt2sdfr1t7iq8td942m53l1rdsqrr97h</string>
	<key>API_KEY</key>
	<string>AIzaSyBYs7m4DiwV5Dho3go4nuPIqdnJWtICBjo</string>
	<key>GCM_SENDER_ID</key>
	<string>530716569623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hamano.kemari.Price</string>
	<key>PROJECT_ID</key>
	<string>kago-8d280</string>
	<key>STORAGE_BUCKET</key>
	<string>kago-8d280.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530716569623:ios:f1031ac0f49df7e0ef6c52</string>
</dict>
</plist>